{% extends '/base.html.twig' %}
{% block title %}Exercise edit{% endblock %}
{% block content%}
    <div class="container mt-4">

        <h1>Edit the Exercise!</h1>
        {{ form_start(form) }}
        {{ form_row(form.name)}}
        {{ form_row(form.video_link) }}
        {{ form_row(form.type) }}
        <button type="submit" class="btn btn-primary">Edit</button>
        {{ form_end(form) }}
        <a href="{{ path('delete-exercise', {'id':exercise.id})}}" class="btn btn-secondary mt-2">Delete</a>
    </div>
{% endblock %}