{% extends '/base.html.twig' %}

{% block title %}Exercise List{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Exercise List</h1>
        <a href="{{  path('new-exercise')}}" class="btn btn-secondary mt-3 m-md-2">Add new exercise</a>
        <div class="row">
            {% for exercise in exercises %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <div class="row g-0">
                            <div class="col-md-6 p-4">
                                <h2 class="card-title">{{ exercise.name }}</h2>
                                <p class="card-text"><strong>Type:</strong> {{ exercise.type.name }}</p>
                                <a href ="{{ path('new-exercise-log', { 'id': exercise.id })}}" class="btn btn-primary mt-2">Add to Workout</a>
                                <a href="{{  path('get-exercise', { 'id': exercise.id })}}" class="btn btn-secondary mt-2">More</a>
                            </div>
                            <div class="col-md-4 p-2">
                                <div class="embed-responsive embed-responsive-16by9 h-100">
                                    {% if exercise.videoLink %}
                                        {% set embedUrl = exercise.videoLink|replace({'watch?v=': 'embed/'})|split('&')[0] %}
                                        <iframe class="embed-responsive-item" src="{{ embedUrl }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    {% else %}
                                        <p class="text-center my-3">No video available</p>
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
