{% extends '/base.html.twig' %}

{% block title %}Add Exercise Log{% endblock %}

{% block body %}
    <div class="container custom-mt">
        <div class="justify-content-center mt-2 mb-4">
            <h1>Add Exercise Log</h1>
        </div>
        <h5>{{ exercise.name }}</h5>
        <h5>Type: {{ exercise.type.name }}</h5>
        <div class="log-form mt-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-2">Add exercise log</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
