{% extends '/base.html.twig' %}

{% block title %}Add Exercise Log{% endblock %}

{% block body %}
    <div class="container custom-mt">
        <dive class="justify-content-center mt-2 mb-4">
            <h1>Edit Exercise Log</h1>
        </dive>
        <h5>{{ exerciseLog.exercise.name }}</h5>
        <h5>Type: {{ exerciseLog.exercise.type.name }}</h5>
        <div class="log-form mt-3">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary mt-2">Edit</button>
            {{ form_end(form) }}
            <a href="{{ path('delete-exercise-log', { 'workoutId': exerciseLog.workout.id, 'exerciseId': exerciseLog.exercise.id }) }}" class="btn btn-secondary mt-2">Delete</a>
        </div>
    </div>
{% endblock %}
