{% extends '/base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}


{% block content %}

    <div class="container mt-4">
        <h1>Add a new user</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.birth_day) }}
        {{ form_row(form.gender) }}
        <button type="submit" class="btn btn-primary">Save user</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
