{% extends '/base.html.twig' %}
{% block title %}User edit{% endblock %}
{% block content%}
    <div class="container mt-4">
        {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <h1>Edit the User!</h1>
        {{ form_start(form) }}
        {{ form_row(form.name)}}
        {{ form_row(form.birth_day) }}
        {{ form_row(form.gender) }}
        <button type="submit" class="btn btn-primary">Update!</button>
        {{ form_end(form) }}
        <a href="{{  path('delete-user', { 'id': user.id }) }}" class="btn btn-secondary mt-2">Delete</a>
    </div>
{% endblock %}