{% extends '/base.html.twig' %}

{% block title %}Community{% endblock %}

{% block body %}
    <div class="container custom-mt">
        <h1 class="text-center mb-4">Our Community</h1>
        <div class="row justify-content-center">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and actualUser.role=='trainer' %}
            <div class="col-10 mb-3">
                <a href="{{  path('app_register',{'role':'user'})}}" class="btn btn-secondary mt-3 m-md-2"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                    </svg></a>
            </div>
            {% endif %}
            {% for user in users %}
                <div class="col-10 mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <div>
                                <h2 class="card-title mb-1">{{ user.name }}</h2>
                                <p class="card-text mb-1"><strong>Email:</strong> {{ user.email }}</p>
                                <p class="card-text mb-1"><strong>Role:</strong> {{ user.role }}</p>
                            </div>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and actualUser.role=='trainer' %}
                                <a href="{{ path('edit-user', { 'id': user.id }) }}" class="btn btn-primary ml-auto">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}